
html, body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #caf1f3; */
}
.pallette1{
  background-color: #ff3389;
}
.pallette2 {
  background-color: #cee1f9;
}
.trans-back {
  background-clip: transparent;
}
.flip-card {
    -webkit-perspective: 1000;
            perspective: 1000;
    border: 0;
    background: transparent;
  }
  
  .flip-card:hover .flip-card-inner,
  .flip-card.hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .flip-card,
  .flip-card-inner-front,
  .flip-card-inner-back {
    width: 100%;
    height: 20rem;
  }
  
  .flip-card-inner {
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  .flip-card-inner-front,
  .flip-card-inner-back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .flip-card-inner-front.highest {
    background: url(../images/highest.png) 0 0 no-repeat;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .flip-card-inner-front.lowest {
    background: url(../images/lowest.png) 0 0 no-repeat;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flip-card-inner-front.number {
    background: url(../images/number.png) 0 0 no-repeat;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flip-card-inner-front.total {
    background: url(../images/total.png) 0 0 no-repeat;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .flip-card-inner-front span {
    width: 100%;
    text-align: center;
    background: rgba(254, 254, 254, 0.8);
    padding: 0.25rem 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .flip-card-inner-back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background: #cacaca;
    padding: 1rem;
  }
  
  .flip-card-inner-back-title {
    font-weight: bold;
  }
  
  .flip-card-inner-back-text {
    line-height: 1.3;
  }
  
.todo-list-card {
    background-color: #fefefe;
    border-radius: 0;
    max-width: 300px;
  }
  
  .todo-list-card .card-divider {
    border-bottom: 2px solid #cacaca;
    background: inherit;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .todo-list-card .card-divider h3 {
    margin-bottom: 0;
  }
  
  .todo-list-card .card-divider .close-button {
    position: inherit;
  }
  
  .todo-list-card ul {
    list-style-type: none;
    margin: 0;
  }
  
  .todo-list-card ul li {
    background-color: #e6e6e6;
    margin: 10px 0;
    padding: 10px;
  }
  
  .todo-list-card ul input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
    left: -99999px;
  }
  
  .todo-list-card ul input[type="checkbox"] ~ label {
    position: relative;
    margin-left: 2rem;
  }
  
  .todo-list-card ul input[type="checkbox"] ~ label::after {
    background: #fefefe;
    border: 1px solid #e6e6e6;
    content: '';
    display: block;
    height: 20px;
    left: -2rem;
    width: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-80%);
        -ms-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  
  .todo-list-card ul input[type="checkbox"]:checked ~ label:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    color: #1779ba;
    border: 1px solid #1779ba;
  }
  
.button-like {
    border: 2px solid #8a8a8a;
    background-color: transparent;
    text-decoration: none;
    /* padding: 0.5rem; */
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3rem;
    color: #8a8a8a;
    transition: all ease 0.4s;
  }
  
  .button-like span {
    margin-left: 0.5rem;
  }
  
  .button-like .fa,
  .button-like span {
    transition: all ease 0.4s;
  }
  
  .button-like:focus {
    background-color: transparent;
  }
  
  .button-like:focus .fa,
  .button-like:focus span {
    color: #8a8a8a;
  }
  
  .button-like:hover {
    border-color: #ff3389;
    background-color: transparent;
  }
  
  .button-like:hover .fa,
  .button-like:hover span {
    color: #ff3389;
  }
  
  .liked {
    background-color: #ff3389;
    border-color: #ff3389;
  }
  
  .liked .fa,
  .liked span {
    color: #fefefe;
  }
  
  .liked:focus {
    background-color: #ff3389;
  }
  
  .liked:focus .fa,
  .liked:focus span {
    color: #fefefe;
  }
  
  .liked:hover {
    background-color: #ff3389;
    border-color: #ff3389;
  }
  
  .liked:hover .fa,
  .liked:hover span {
    color: #fefefe;
  }
  .top-bar li a {
    color: #ff3389;
  }
  li.under {
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid #1f375b;
  }
  
.marketing-site-footer {
  background: #2c3840;
  color: #8aa0ae;
  padding: 2rem 0 0;
}

.marketing-site-footer .marketing-site-footer-menu-social a {
  color: #fefefe;
}

.marketing-site-footer .column-block {
  margin-bottom: 30px;
}

.marketing-site-footer > .row {
  margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .marketing-site-footer .columns {
    margin-bottom: 2rem;
  }
}

.marketing-site-footer-name {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.marketing-site-footer-title {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.marketing-site-footer-block .fa {
  font-size: 2rem;
  color: #020304;
}

.marketing-site-footer-block p {
  margin-left: 1rem;
  line-height: 1.125rem;
}

.marketing-site-footer-bottom {
  background: #020304;
  padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
  margin-bottom: 0;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: #8aa0ae;
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom {
    text-align: center;
  }
}

